# data relevant folders
output

# private data folders
data/lumbar

# pretrained weights
weights/*.weights
weights/darknet53.conv.74

# spyder IDE
.spyproject

# python relevant
__pycache__

# pytorch relevant
checkpoints
logs